COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps/
.libs/
*.la
*.lo
*.o
stamp-*
*-stamp
tools/gst-perf
*~
\#*
*.swp

# dpkg-buildpackage output and other release files
*.debhelper.log
.debhelper/
debian/autoreconf.*
debian/gst-perf.debhelper.log
debian/gst-perf/
debian/files
debian/tmp
/gst-perf-*
*.deb
*.substvars
*.changes
*.buildinfo

# test-locally.sh
test-locally.sh
/test-locally-install-dir
