#!/usr/bin/make -f
# Copyright (c) 2020 D3 Engineering, LLC
# By Christopher White <cwhite@d3engineering.com>
# SPDX-License-Identifier: LGPL-2.0-or-later

export DH_ALWAYS_EXCLUDE=*.a:*.la

override_dh_autoreconf:
	:

override_dh_update_autotools_config:
	:

override_dh_auto_configure:
	meson setup obj-$(DEB_HOST_GNU_TYPE) --wrap-mode=nodownload --buildtype=plain --prefix=/usr --sysconfdir=/etc --localstatedir=/var --libdir=lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=meson
